header{
    background-color:#f26c1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98.8%;
    top: 0;
    z-index: 1000;
}
header h2{
    color: white;
}
.site-name{
    display: flex;
    align-items: center;
    margin-left: 90px;
    gap: 5px;
}
nav i{
    padding-right: 90px;
}
.search-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6)),url("./assests/images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    margin-top: 0;
    position: relative;

}
.search-section .search-here{
    text-align: center;
    padding-top: 9%;
    
}
.search-here input{
    padding: 10px 25px;
    margin-right: 25px;
    border-radius: 20px;
    border: none;
    
}
.search-here h2{
    font-size: 30px;
}
.search-here h2,p{
    color: white;
}


.circle-button {
  background-color: #f26c1d; 
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 0;
  left: 58%;
  margin-top: 110px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
   transition: all 0.3s ease; 
  font-size: 15px;
  
}

.circle-button:hover {
  background-color: white;
  color: #f26c1d;
}
.heading-section{
    display: flex;
    align-items: center;
    background-color: #f26c1d;
    margin: 30px 50px;
    padding-left: 15px;
    color: white;

}
.heading-section .fa-angles-right{
    font-size: medium;
    padding-left: 5px;
}
.heading-section h4{
    padding-left: 5px;
}
.meal-details-heading h2{
     font-size: 20px;
    letter-spacing: 3px;
    font-weight: blod;
    position: relative;
    margin: 45px 50px;
}
.meal-details-heading h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #f26c1d;
    margin: 5px 0;
}
.meal-details{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px 50px;
}
.details{
    display: flex;
    gap: 10px;
    
}
.bharta-image img{
    width: 480px;
    object-fit: cover;
    padding: 40px;
}
.right-side-details h3{
    color: #f26c1d;
    position: relative;
    padding-top: 50px;
}
.right-side-details h3::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #f26c1d;
    width: 530px;
    height: 1px;
    top:  85px;
}
.right-side-details p{
    color: black;
}
.right-side-details .source a{
    text-decoration: none;
}
.right-side-details .category{
    margin-top: 40px;
}
.tags{
    margin-top: 20px;
}
.tags .tag-name{
    background-color: white;
    color: #f26c1d;
    border: 1px solid  #f26c1d;
    border-radius: 5px;
    padding: 3px 5px;
}
.ingredients-box{
    background-color: #f26c1d;
    color: white;
    width: 530px;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 20px

    
}
.ingredients-box h4{
    font-size: 20px;
    margin-top: 10px;
}
.ingredients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;

}
.number {
  background-color: #1da4a6;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin-right: 10px;
}
.measure-section h4{
    padding-left: 40px;
    font-size: 20px;

}
.measurement-list{
    display: flex;
    column-gap: 300px;
    row-gap: 30px;
    background-color:rgb(248, 246, 246);
     box-shadow: 0px 4px 8px rgba(241, 226, 226, 0.2);
     border: 0.5px solid rgb(248, 246, 246);
    margin: 20px 40px;
}
.measurement-list-col{
    list-style: none;
}
.measurement-list-col li{
    margin-bottom: 15px;
    font-size: 15px;
    
}
.measurement-list-col i{
    color: #f26c1d;
    margin-right: 5px;
}
.instructions-section h4{
    padding-left: 40px;
    font-size: 20px;
    padding-top: 20px;

}
.instructions-section {
  margin-bottom: 40px;
  padding-bottom: 50px;
}
.instruction-list {
  list-style:none;
  padding-left: 40px;
  line-height: 1.7;
}
.instruction-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.instruction-list li i {
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid #f26c1d;
  color:#f26c1d;
  border-radius: 2px;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}